version: '2'

services:
  api:
    build: . 
    volumes:
      - ./src/api:/usr/src/app
      - ./etc/cyclos:/cyclos
      - ./etc/dolibarr:/dolibarr
    ports:
      - 8000:8000
    environment:
      - DJANGO_DEBUG=True
      - API_PUBLIC_URL=http://localhost:8000
      - DOLIBARR_PUBLIC_URL=http://localhost:8080
      - BDC_PUBLIC_URL=http://localhost:8001
      - RAVEN_CONFIG_DSN=http://46498c24303d4b27828e5e47ce927818:6177efcf6d1d47508f1c22332c8dddaf@sentry:9000/2
    depends_on:
      - dolibarr-app
      - cyclos-app
    networks:
      - eusko_net

  dolibarr-app:
    image: euskalmoneta/dolibarr:custom
    ports:
      - 8080:80
    volumes:
      - ./data/documents:/var/www/documents
      - ./etc/dolibarr/conf.php:/var/www/html/conf/conf.php
      - ./etc/dolibarr/date-timezone.ini:/usr/local/etc/php/conf.d/date-timezone.ini
    depends_on:
      - dolibarr-db
      - cyclos-app
    networks:
      - eusko_net

  dolibarr-db:
    image: mariadb:10.1
    volumes:
      - ./etc/dolibarr/dump:/docker-entrypoint-initdb.d
      - ./data/mariadb:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=pass
      - MYSQL_DATABASE=pass
      - MYSQL_USER=pass
      - MYSQL_PASSWORD=pass
    networks:
      - eusko_net

  cyclos-app:
    image: cyclos/cyclos:4.6.2
    ports:
      - 8081:8080
    environment:
      - DB_HOST=cyclos-db
      - DB_NAME=cyclos
      - DB_USER=cyclos
      - DB_PASSWORD=cyclos
    links:
      - cyclos-db
    networks:
      - eusko_net

  cyclos-db:
    image: cyclos/db
    volumes:
      - ./etc/cyclos/dump/cyclos.sql:/docker-entrypoint-initdb.d/cyclos.sql
      - ./data/cyclos/postgresql:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=cyclos
      - POSTGRES_USER=cyclos
      - POSTGRES_PASSWORD=cyclos
    networks:
      - eusko_net

  sentry-redis:
    image: redis
    networks:
      - eusko_net

  sentry-postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=sentry
      - POSTGRES_USER=sentry
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    networks:
      - eusko_net

  sentry:
    image: sentry
    environment:
      - SENTRY_SECRET_KEY="x4^nd^1k9k8=8#sa1$gu72p-g15a(ft8(d@jy@^d$ec!oe!"
      - SENTRY_POSTGRES_HOST=sentry-postgres
      - SENTRY_DB_USER=sentry
      - SENTRY_DB_PASSWORD=sentry
      - SENTRY_REDIS_HOST=sentry-redis
    ports:
      - 9000:9000
    links:
      - sentry-redis:redis
      - sentry-postgres:postgres
    networks:
      - eusko_net

  sentry-cron:
    image: sentry
    environment:
      - SENTRY_SECRET_KEY="x4^nd^1k9k8=8#sa1$gu72p-g15a(ft8(d@jy@^d$ec!oe!"
      - SENTRY_POSTGRES_HOST=sentry-postgres
      - SENTRY_DB_USER=sentry
      - SENTRY_DB_PASSWORD=sentry
      - SENTRY_REDIS_HOST=sentry-redis
    links:
      - sentry-redis:redis
      - sentry-postgres:postgres
    networks:
      - eusko_net
    command: sentry run cron

  sentry-worker:
    image: sentry
    environment:
      - SENTRY_SECRET_KEY="x4^nd^1k9k8=8#sa1$gu72p-g15a(ft8(d@jy@^d$ec!oe!"
      - SENTRY_POSTGRES_HOST=sentry-postgres
      - SENTRY_DB_USER=sentry
      - SENTRY_DB_PASSWORD=sentry
      - SENTRY_REDIS_HOST=sentry-redis
    links:
      - sentry-redis:redis
      - sentry-postgres:postgres
    networks:
      - eusko_net
    command: sentry run worker

networks:
  eusko_net:
    driver: bridge
