arrow
django
django-cors-middleware
djangorestframework
django-filter  # Filtering support
django-wkhtmltopdf
drf-pdf
markdown       # Markdown support for the browsable API.
pytest
pytest-django
python-slugify
PyJWT
PyYAML
raven
requests