arrow==0.16.*
django==2.2.*
django-cors-middleware
djangorestframework==3.10.*
djangorestframework-csv
django-filter==2.3.*
django-simple-history==2.11.*
django-wkhtmltopdf
drf-pdf
markdown       # Markdown support for the browsable API.
psycopg2==2.8.6
pytest
pytest-django
python-slugify
PyJWT
PyYAML==5.3.*
raven
requests
