/* base.html */

/* Base variables */
$font-stack: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

.lang-select {
  cursor: pointer;
}

.lang-select-flag-fr {
  height: 14px;
  width: 20px;
}

body {
  overflow-x: hidden;
}

.navbar-header a:hover {
  cursor: default;
  color: #fff !important;
}

.toast-top-right-navbar {
  margin-top: 90px;
}

.footer {
  border-top: solid 1px #CCCCCC;
  background-color: #f9f6f6;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.btn-default {
  background-color: #ffffff;
  color: #95a5a6;
  border-color: #95a5a6;
}

.btn-default:hover {
  background-color: #95a5a6;
  color: #ffffff;
  border-color: #95a5a6;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 175px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 175px;
  width: 0;
  height: 100%;
  margin-left: -175px;
  overflow-y: auto;
  background: #2c3e50;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 175px;
}

#page-content-wrapper {
  margin-top: 60px;
  width: 100%;
  position: absolute;
  padding: 15px;
  margin-bottom: 50px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -175px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 175px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #18bc9c;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 175px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 175px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* MemberShow */
.member-show-panel {
  label {
    text-align: right;
  }
}

.member-show-statut.btn-success {
  cursor: default;
  pointer-events: none;
}

.member-show-statut.btn-warning {
  
}

/* MemberAddForm */
// Adjust size for the "birthdate" field
.memberaddform-birth {
  .react-datepicker__input-container {
    display: block;
  }
}

// Set the correct font for the react-selectize fields
.react-selectize.root-node {
  width: 100% !important;
}

.memberaddform {
  .react-selectize-placeholder {
    font-size: 16px;
    font-family: $font-stack;
    line-height: 1.42857143;
  }
}

.memberaddsubscription {
  .react-selectize-placeholder {
    font-size: 16px;
    font-family: $font-stack;
    line-height: 1.42857143;
  }
}

.memberaddform {
  font-size: 16px;
  font-family: $font-stack;
  line-height: 1.42857143;
}

.has-error .form-control {
  border-color: #d9534f;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.has-error-value {
  color: #d9534f;
}

.has-error .form-control {
  .react-selectize-control {
    border-color: #d9534f !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  }
}

/* login.html */

.login-div {
  background-color: #eee;
  padding-top: 50px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 25px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus { z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* search members */

.search-no-results {
  margin-top: 30px;
  position: relative;
  font-style: italic;
  color: #BDBDBD;
}

.react-bs-container-body {
  td {
    cursor: pointer;
  }
}

/* divers */

.hidden {
  display:none;
}
