{% load staticfiles i18n %}
{% get_current_language as CURRENT_LANG %}
<!DOCTYPE html>
<html lang="{{ CURRENT_LANG }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% trans "Euskal Moneta" %}</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header" id="navbar-title">
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
              <li>
                <a href="{% url 'home' %}">{% trans "Accueil" %}</a>
              </li>
              <li>
                <a href="{% url 'logout' %}">{% trans "Déconnexion" %}</a>
              </li>
            </ul>
            <div id="flags">
            </div>
          </div>
        </div>
      </div>
      {% block container %}
        <div class="alert alert-warning">
          You extended the 'base.html' template without redefining the block 'container' !
        </div>
      {% endblock %}
    </div>
    <!-- /#page-content-wrapper -->
    <div class="container-fluid footer">
      <div class="row">
        <div class="col-lg-12">
          {% trans "Euskal Moneta" %}
        </div>
      </div>
    </div>
  </div>
  <!-- /#wrapper -->
  <script src="{% url 'config_js' %}"></script>
  {% with 'bundles/js/'|add:CURRENT_LANG|add:'.Base.js' as base_js_static %}
    <script src="{% static base_js_static %}"></script>
  {% endwith %}
  {% block extra_js %}
  {% endblock %}
</body>
</html>
