{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% trans "Euskal Moneta" %}</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="{% url 'home' %}" class="navbar-brand">{% trans "Euskal Moneta" %}</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          {% if not user.is_authenticated %}
          <li>
            <a href="{% url 'login' %}">{% trans "Connexion" %}</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'home' %}">{% trans "Accueil" %}</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">{% trans "Déconnexion" %}</a>
          </li>
          {% endif %}
        </ul>
        <div id="flags">
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container"> -->
  {% block container %}
  <div class="alert alert-warning">
    You extended the 'base.html' template without redefining the block 'container' !
  </div>
  {% endblock %}
  <!-- </div> -->
  <div class="container">
      <footer>
        <div class="row">
          <div class="col-lg-12">
            {% trans "Euskal Moneta" %}
          </div>
        </div>
      </footer>
  </div>
  {% with 'bundles/js/'|add:LANGUAGE_CODE|add:'.Base.js' as base_js_static %}
    <script src="{% static base_js_static %}"></script>
  {% endwith %}
  {% block extra_js %}
  {% endblock %}
  <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</body>
</html>
