{% extends "base.html" %}
{% load i18n %}

{% block container %}
  <div class="container">
    <div class="page-header index-header" id="banner">
      <h1>{% trans "Accueil" %}</h1>
      <div class="row first-row">
        <div class="col-lg-6">
          <a href="{% url 'recherche_adherents' %}">
            <button type="button" class="btn btn-success btn-block">{% trans "Opérations (Change, ...)" %} <i class="glyphicon glyphicon-credit-card"></i></button>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="{% url 'home_inscription' %}">
            <button type="button" class="btn btn-success btn-block">{% trans "1ère adhésion / renouvellement" %} <i class="glyphicon glyphicon-user"></i></button>
          </a>
        </div>
      </div>
      <div class="row second-row">
        <div class="col-lg-4">
          <a href="{% url 'home_gestion' %}">
            <button type="button" class="btn btn-primary btn-block">{% trans "Gestion" %} <i class="glyphicon glyphicon-list-alt"></i></button>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="">
            <button type="button" class="btn btn-danger btn-block">{% trans "Ventes" %} <i class="glyphicon glyphicon-gift"></i></button>
          </a>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
    </div>
{% endblock %}