{% extends "base.html" %}
{% load i18n %}

{% block container %}
<div class="container">
  <form method="POST" action="{% url 'django.contrib.auth.views.login' %}" class="form-signin">
    {% csrf_token %}
    <h2 class="form-signin-heading">{% trans "Se connecter" %}</h2>
    {% if form.errors %}
    <div class="alert alert-warning alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
      <span>{% trans "Identifiant Bureau de Change ou Mot de passe invalide. Réessayez." %}</span>
    </div>
    {% endif %}
    <label for="username" class="sr-only">{% trans "Identifiant Bureau de Change" %}</label>
    <input type="text" name="username" id="username" class="form-control" placeholder="{% trans 'Identifiant Bureau de Change' %}" required autofocus>
    <label for="password" class="sr-only">{% trans "Mot de passe" %}</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="{% trans 'Mot de passe' %}" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Se connecter" %}</button>
  </form>
</div>
{% endblock %}